<h1>{{title}}</h1>  <!-- This curly braces is known as interpolation-->
<h1>{{name}}</h1>
<h1>{{2+2}}</h1>  <!--Isme aise four aayega-->
<!-- {{}} ke andaejs ka code likh sakte hai-->
<h2>{{x+y}}</h2>
<h1>{{2+9}}</h1>
<h3>{{10==10}}</h3>
<h2>{{'hello'.toUpperCase()}}</h2>
<!--we cannot declare new variable here  like {{let na=89}}-->
<!--we cannot increament value inside the {{x++}}-->
<!--we cannot declare for loop inside {{}}-->

<!--angular cli(command line interface ) is a tool that helps developers create,build,test,and deploy angular applocations
command that help you to develop angular application-->